
div.galeria{

    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(255, 208, 0), 0 6px 20px 0 rgba(0,0,0,0.5);
    float: left;
    width: 350px;
}

div.galeria{
    width: 100;
height: auto;
}

div.galeria:hover{
border: 1px solid rgb(255, 209, 3);
transform: rotate(-3deg);
}

div.pie{
text-align: center;
text-shadow: 2px 2px 5px rgb(255, 255, 255);
padding: 10px;
}

h1{ 

    width: 100%;
    float: left;
    font-size: 40px;
    color: #111111;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}